<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hug7.study.mapper.StudyCourseDetailsMapper">


    <!-- 菜单路由映射 -->
    <resultMap id="StudyCourseDetailsMap" type="site.hug7.study.domain.vo.StudyCourseDetailsVO">
        <id property="id" column="id"/>
        <result property="courseDetails" column="course_details" />
        <result property="courseId" column="course_id" />
        <result property="videoAddress" column="video_address" />
        <result property="chapterTitle" column="chapter_title" />
        <result property="chapterView" column="chapter_view" />
        <result property="chapterEvaluate" column="chapter_evaluate" />
    </resultMap>
    <update id="updateDetailsView">
        UPDATE study_course_details SET chapter_view = chapter_view +1 WHERE id = #{descId}

    </update>

    <select id="selectListByCourseId" resultType="site.hug7.study.domain.vo.StudyCourseDetailsVO">
        SELECT * from study_course_details WHERE course_id=#{courseId}
    </select>


</mapper>
